<p>
    <label>Noun<input type="text" ng-model="noun"/></label>
</p>
<p>
    <label>Adjective<input type="text" ng-model='adj'/></label>
</p>
<p>
    <label>Mood<input type="text" ng-model="mood"/></label>
</p>
<p>
    <label>Number<input type="number" ng-model='No'/></label>
</p>
<p>
    <label>Noun<input type="text" ng-model="noun2"/></label>
</p>
<p>
    <label>Noun<input type="text" ng-model="noun3"/></label>
</p>
<p>
    <label>Adjective<input type="text" ng-model='adj2'/></label>
</p>
<p>
    <label>Adjective<input type="text" ng-model='adj3'/></label>
</p>
